@import "@flaticon/flaticon-uicons/css/all/all";

* {
  font-family: "Kanit", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url("/assets/images/background.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px #33294190;
}

h1 {
  /* text-5xl */
  font-size: 3rem; /* 48px */
  line-height: 1;
  font-weight: 900;
}

h2 {
  /* text-4xl */
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 800;
}

h3 {
  /* text-3xl */
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 700;
}

h4 {
  /* text-2xl */
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 600;
}

h5 {
  /* text-xl */
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}

h6 {
  /* text-lg */
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 400;
}

p {
  /* text-base */
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

span {
  /* text-sm */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
